body{
  margin: 0 ;
  padding: 0;
  background-color: rgb(255, 203, 138);
  color: rgb(71, 39, 0);
}

button, input{
  border: none;
  outline: none;
}
button, input:focus{
  border:none;
  outline: none;
}

button, input:active{
  border: none;
  outline: none;
}

.container{
  width: 100%;
  max-width: 1500px;
  margin:0 auto;
  display: grid;
  grid-template-areas: "h h"
                        "n p";
  gap:15px ;
  grid-template-columns: 3fr 9fr;
}

.container div{
  background-color: rgb(255, 235, 212);
  border-radius: 1em;
}

.header{
  padding: 15px;
  grid-area: h;
}

.navbar{
  grid-area: n;
  text-align: center;
}

.profile{
  grid-area: p;
  overflow: hidden;
}

.navbar__links{
  display: block;
  text-decoration: none;
  color: rgb(71, 39, 0);
  font-size: 24px;
  margin: 10px;
}

.userInfo{
  display: flex;
  margin: 60px 0 20px;
}
.profile{
  padding: 10px;
}
.userInfo h3{
  margin: 0 ;
  font-size: 42px;
}
.userInfo p{
  margin: 0;
  align-self: flex-end;
  font-weight: 700;
}
form{
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

form button, input{
  color: #4a2704;
  text-align: center;
  font-size: 24px;
}

form button{
  background-color: #ff8668;
}

form h2{
  font-size: 48px;
}

.postInfo p{
  font-size: 18px;
  margin: 0 0 0 20px ;
}

.message{
  border-radius: 0px!important ;
  border: 3px solid #ff8668;
}
.comment{
  margin-left: 30px;
}

.dialog{
  display: flex;
  justify-content: center
}

.blockChats{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chats{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockMassage{
  
  width: 50%;
}

.blockMassage form{
  margin: 0 auto;
}

.blockMassage form input,button{
    width: 100%;
}

.form{
  max-width: 100%;
  width: 100%;

}

.form input,button{
  width: 100%;
  padding: 0;
}
